/* full page color, font for body */

body {
	line-height: 1.625;
	font-size: 16px;
	color: #263238;
	font-family: 'Roboto Slab', serif;
	-webkit-font-smoothing: antialiased;
}
/*image, font */

*, *:before, *:after {
	box-sizing: border-box;
}
img {
	vertical-align: middle;
	max-width: 100%;
}
p {
	margin: 0 0 10px;
}

/* flex */
.flex {
	display: flex;
}

/*width 1170px, sidebar 35% content 65%*/

.wrapper {
	max-width: 1170px;
	width: 100%;
	margin: auto;
}
.sidebar {
	width: 35%;
	background: #9BA3EB;
	color: #fff;
}
.content {
	width: 65%;
	padding: 70px;
}

/* Avatar, about me*/
.avatar {
	text-align: center;
	padding: 60px 0;
	background: #6A67CE;
}
.avatar img {
	border-radius: 50%;
	border: 5px solid rgba(255, 255, 255, .1);
}
.avatar h1 {
	font-size: 32px;
	text-transform: uppercase;
	margin: 25px 0 0;
	line-height: 1;
}
.avatar h4 {
	font-size: 22px;
}

/* Module */

.sidebar .module {
	padding: 0 45px;
	margin-top: 50px;
}


.module__meta {
	font-size: 14px;
	color: #90a4ae;
	margin-bottom: 20px;
}
.module__meta span {
	margin-right: 20px;
}




